body {
  background-color: #21222c;
}

/* 👇👇👇 Paste the styles of your Fancy Robot from the "Position it right" assignment here 👇👇👇 */

.robot-ear-left::before,
.robot-ear-left::after,
.robot-ear-right::before,
.robot-ear-right::after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: #FFE4C4;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.robot-ear-left::after,
.robot-ear-right::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.robot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.robot-face-shape {
  position: relative;
  background: center / cover url(https://picsum.photos/300/300);
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 15px;
  z-index: 100;
}

.robot-eye-left {
  left: 22%;
}

.robot-eye-right {
  right: 22%;
}

.robot-ear-left {
  bottom: 230px;
  left: -40px;
}

.robot-ear-right {
  bottom: 317px;
  right: -240px;
}

.robot-nose {
  position: absolute;
  background-color: #8b0000;
  width: 3.125rem;
  height: 1.5625rem;
  top: 40%;
  left: 42%;
  border-radius: 100px / 50px;
  opacity: 50%;
}

.robot-nose:before {}

.robot-nose:after {}

.robot-teeth {
  position: relative;
  border: 1px solid #000;
  background-color: #FFE4C4;
  width: 210px;
  height: 105px;
  top: 170px;
  left: 48px;
  border-radius: 100px / 50px;
}

.robot-tooth {
  position: absolute;
  border: 1px solid #000;
  background: #fff;
  width: 15px;
  height: 25px;
  border-radius: 50% 50% 0 0;
}

.tooth-one {
  top: 10px;
  left: 25px;
  border-top-left-radius: 130px;
}

.tooth-two {
  top: 3px;
  left: 50px;
  border-top-left-radius: 100px;
}

.tooth-three {
  top: 2px;
  right: 55px;
  border-top-right-radius: 15px;
}

.tooth-four {
  top: 10px;
  right: 25px;
  border-top-right-radius: 130px;
}

.tooth-five {
  top: 0px;
  left: 80px;
}

.tooth-six {
  top: 0px;
  left: 110px;
}

.tooth-seven {
  bottom: 10px;
  left: 25px;
  border-bottom-left-radius: 130px;
}

.tooth-eight {
  bottom: 3px;
  left: 50px;
  border-bottom-left-radius: 100px;
}

.tooth-nine {
  bottom: 2px;
  right: 55px;
  border-top-left-radius: 15px;
  transform: rotate(180deg);
}

.tooth-ten {
  bottom: 10px;
  right: 25px;
  border-bottom-right-radius: 130px;
}

.tooth-eleven {
  bottom: 0px;
  left: 80px;
  transform: rotate(180deg);
}

.tooth-twelve {
  bottom: 0px;
  left: 110px;
  transform: rotate(180deg);
}

.robot-hair-style {
  position: absolute;
  width: 300px;
  top: -10%;
  border-bottom: 100px solid #000;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.robot-hair {
  position: absolute;
  width: 0;
  height: 0;
  bottom: -60px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #000;
}

.robot-hair-two {
  left: 73px;
}

.robot-hair-three {
  right: 0px;
}

.robot-hair-four {
  left: 35px;
}

.robot-hair-five {
  right: 39px;
}